<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      
      <% if(currentUser)  { %>
      <h1>Items List</h1>

      <a class ="button" href="/items/new">Add new Items</a>
<hr />
      <ul class="list-group">
<!-- #1 -->
        <% items.forEach((item) => { %>
          
<!-- #2 --> 
          <li class="list-group-item">
           
              <a href="/items/<%= item.id %>"> Name: <%= item.name %></a> 
              <p>Description: <%= item.description %> </p>
            
          <p class="form-group">
              <label for="status">Status:</label>
                <%if(item.status){ %>
                Bought
              
                <%}else{ %>
                Empty
                <%}%>
          </p>
         
          </li>
        
        <% }) %>
      </ul>
<% } %>
    </main>
  </body>
</html>