<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      
      <% if(currentUser)  { %>
      <h1>Items List</h1>

      <a href="/items/new">Add new Items</a>

      <ul class="list-group">
<!-- #1 -->
        <% items.forEach((item) => { %>
<!-- #2 -->
          <li class="list-group-item">
            <a href="/items/<%= item.id %>"> <%= item.name %> </a>
          </li>
        <% }) %>
      </ul>
<% } %>
    </main>
  </body>
</html>