<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <% include ../static/partials/messages.ejs %>

      <h1>New Item</h1>

      
      <form action="/items/create" method="post">
        <div class="form-group">
          <label for="name">Item Name</label>
          <input type="text" class="form-control" name="name" aria-describedby="titleHelp" placeholder="Enter Name">
          <small class="text-muted" id="titleHelp">name must be 1 or more characters in length.</small>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea rows="4" class="form-control" name="description" placeholder="Enter Description"></textarea>
          <small class="text-muted" id="bodyHelp">body must be 2 or more characters in length.</small>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>