<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

  <main class="container">

    <br />
    <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>
    <form style="display:initial" action="/items/<%= item.id %>/destroy" method="post">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <h1>Item:
      <%= item.name %>
    </h1>
    <p>Description:
      <%= item.description %>
    </p>

    <div class="form-group">
      <label for="status">Status:</label>
        <%if(item.status){ %>
        <!-- <option value="false">Empty</option> -->
        Bought
        <%}else{ %>
        Empty
        <%}%>
    </div>

  </main>

  <% include ../static/partials/baseScripts.ejs %>

</body>

</html>