<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

    <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3"  style="color:rgb(27, 8, 49)">Real-time Grocery</h1>
          <p class="lead">Get the app and enjoy your shopping time.</p>
          <a href="/users/sign_up" class="btn btn-primary btn-lg" style="color:black">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <img src="../images/1.jpg" alt="cart" height="50" width="50"></img>
            <h4 class="card-title">Cart</h4>
            <p class="card-text">Create your cart to keep track of your shopping.</p>
          </section>

          <section class="col-lg-4">
            <img src="../images/2.jpg" alt="buy" height="50" width="50"></img>
            <h4 class="card-title">Buy</h4>
            <p class="card-text">What did you buy?</p>
          </section>

          <section class="col-lg-4">
              <img src="../images/3.jpg" alt="image" height="50" width="50"></img>
            <h4 class="card-title">Easy to Use & Customize</h4>
            <p class="card-text">Enjoy shopping in your own style</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>